<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <!--create login form-->
            <form #ref="ngForm"  (ngSubmit)="saveUserProfile(ref)">
               

                <!--edit email-->
                <div class="form-group">
                    <label for="em">Edit E-mail</label>
                    <input type="email" name="email" id="em" class="form-control" [ngModel]=userObject.email ngModel >
                </div>

                 <!--edit date of birth-->
                 <div class="form-group">
                    <label for="db">Date of birth</label>
                    <input type="date" name="dob" id="db" class="form-control" [ngModel]=userObject.dob ngModel>
                </div>           
               


               
                <!--add submit button-->
                <button type="submit"   class="btn btn-success d-block mx-auto">Update profile</button>
            </form>

    </div>
    <div class="col-sm-3"></div>
</div>





