<div class="row">
    <div class="col-sm-3">
        
    </div>
    <div class="col-sm-6">
       
       
        <table class="table">
            <thead class="thead-dark">
                <th>Username</th>
                <th>Date of birth</th>
                <th>Email</th>
                <th>Gender</th>
            </thead>
            <tr>
                <td>{{userObject?.username | titlecase}}</td>
                <td>{{userObject?.dob}}</td>
                <td>{{userObject?.email  | titlecase}}</td>
                <td>{{userObject?.gender | titlecase}}</td>
            </tr>
        </table>

    </div>
    <div class="col-sm-3">
        <div class="text-right">
            <button class=" btn btn-danger"  (click)="deleteUserProfile()">Delete profile</button>
            <button class=" btn btn-warning"  (click)="editUserProfile()">Edit profile</button>
        </div>
    </div>
</div>
